<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    <a href="/contacts">Contacts</a>
    <a href="/about">About</a>
    <a href="/first">First page</a>
    <a href="/second">Sec page</a>
    <a href="/start">start page</a>
    <a href="/admin">admin</a>
    <hr>

    {% block content %}
    {% endblock content %}
</body>
</html>