<!DOCTYPE html>
<html>
<head>{% extends 'flatpages/default.html' %}
<title>{%block title%} start page {%endblock title%}</title>
</head>
<body>
{% block content %}
<h4 style="text-align: center;"><em><strong><span style="color: #ff0000;">start!&nbsp;</span></strong></em><span style="color: #ff0000;">ok</span></h4>
<blockquote>da ya kryt</blockquote>
<p><img src="https://moscowzoo.ru/upload/iblock/561/56164562708f5f50b1a457629b19890f.jpg" alt="" width="1100" height="876"/></p>
{% endblock content %}
</body>
</html>